<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Questions</title>
  </head>
  <body>
    <h1>{{survey.title}}</h1>
    <p>{{survey.instructions}}</p>
    <form action="/questions/{{question_number}}" method="POST">
      <p>{{question.question}}</p>
      {% for choice in question.choices %}
      <input type="radio" name="answer" value="{{choice}}" />
      <label for="{{choice.id}}">{{choice}}</label><br />
      {% endfor %}
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
